$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}





/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;

  /* Make the masthead heading the same height as the navigation */
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    //padding-bottom: 19px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}

.text-muted {
  //color: rgb(201, 201, 201);
  color: rgb(51, 51, 51);
  font-weight: 200;
  letter-spacing: .07em;
}

.img-bord{
  border: solid 1px #E5E5E5;

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.nav{
  margin-top: 9px;
}

.nav-pills > li > a {
  border-radius: 0; 
  font-size: 8.5px;
  text-transform: uppercase;
  letter-spacing: .08em;
  //font-weight: bold;
  color: #000;
  padding: 5px 8px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  //color: #fff;
  background-color: #e5e5e5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: rgb(51, 51, 51);
}
.row{
  margin-bottom: 30px;
}

.marg-bot{
  margin-bottom: 30px;
}


.marg-top{
  margin-top: 15px;
}
.pad-bot{
  padding-bottom: 50px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: #000;
    text-shadow: none;
    padding-bottom: 0;
    text-align: left;
    overflow: visible;
    margin-top: 30px;
    padding-top:0;
    font-size: 11px;
    
}


.carousel-indicators {
    bottom: -15px;
    left:0;
    margin-left: 0;
    width: auto;
}

.carousel-indicators-numbers {
    li {
      text-indent: 0;
      margin: 0 2px;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 100%;
      line-height: 20px;
      color: #fff;
      font-size: 10px;
      background-color: #ccc;
      transition: all 0.25s ease;
      &.active, &:hover {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        background-color: #000;        
      }
    }
}

.caption{
  font-size: 12px;
}

.number { 
  font-size: 10px;
  display: inline-block;
  margin-right: 2px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .09em;
}

.screen { 
  font-size: 10px;
  display: inline-block;
  margin-right: 2px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .07em;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .right{
  float: right;
}
.header{
  h4 {
    font-size: 14px;
  }
}



  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }


  .header {
    margin-bottom: 30px;
  }

}
